@import '../../variables';

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes blink {50% { color: transparent }}

.form-page {
  position: absolute;
  width: 100%;

  .logo-big {
    display: flex;
    width: 100%;
    justify-content: center;

    .logo-star {
      position: absolute;
      height: 17em;

      &.spin-star {
        -webkit-animation:spin 3s linear infinite;
        -moz-animation:spin 3s linear infinite;
        animation:spin 3s linear infinite;
      }
    }

    .logo-drink {
      position: relative;
      height: 12em;
      margin-top: 15px;
    }
  }

  .loading-soda {
    font-size: 25px;
    text-align: center;
    margin: 85px 0 0 20px;

    .loading-dot { animation: 1s blink infinite }
    .loading-dot:nth-child(2) { animation-delay: 250ms }
    .loading-dot:nth-child(3) { animation-delay: 500ms }
  }

  .form-section {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    form {
      padding-top: 60px;

      .form-question-section {
        padding: 15px;

        .form-question {
          font-size: inherit;
        }

        .form-option {
          font-size: inherit;
        }
      }
    }
  }

  .predict-button {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
