@import '../../variables';

.form-page {
  position: absolute;
  width: 100%;

  .logo-big {
    display: flex;
    width: 100%;
    justify-content: center;

    .logo-star {
      position: absolute;
      height: 17em;
    }

    .logo-drink {
      position: relative;
      height: 12em;
      margin-top: 15px;
    }
  }

  .form-section {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    form {
      padding-top: 60px;

      .form-question-section {
        padding: 15px;

        .form-question {
          font-size: inherit;
        }

        .form-option {
          font-size: inherit;
        }
      }
    }
  }

  .predict-button {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
